@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  font-family: 'poppins';
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10, 10, 55);
}

@layer components {
  .glow-text {
    @apply relative text-white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.5),
                 0 0 30px rgba(255, 255, 255, 0.3);

    animation: glow 1.5s infinite alternate;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.5),
                 0 0 30px rgba(255, 255, 255, 0.3);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1),
                 0 0 30px rgba(255, 255, 255, 0.7),
                 0 0 40px rgba(255, 255, 255, 0.5);
  }
}